/* ----google font link ----*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Poppins:wght@100&display=swap');

*{
    
    
}
.bd{
    scroll-behavior: smooth;
    background-color: gray;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px  40px;
    background-color: blueviolet;
    font-family: 'Noto Sans Mono', monospace;
   
}

.aa{
    text-decoration: none;
    margin-left: 10px;
    color: white;
}
.navBar a:hover,
.navBar a.Active{
    color: goldenrod;
    
}

#box-icon{
    display: none;
    cursor: pointer;
}

.Home{
    margin-top: 40px;
    display: flex;
    padding: 10px  60px;
    overflow: hidden;
}
.colorr{
    color: greenyellow;

}
#homeImg{
    height: 400px;
    width: 380px;
    overflow: hidden;
    

}
.hi{
    display: flex;
    align-items: center;
}
.Education{
    
    overflow: hidden;

    margin-top: 40px;
    
    padding: 10px  60px;
    overflow: hidden;

}
#ED{
    text-align: center;
    margin-bottom: 20px;
}
.edu{
    margin-top: 40px;
   
    
    display: flex;
    
    justify-content: space-between;
    width: 100%;
}

.date{
    display: flex;
    align-items: center;
    align-items: center;
}
.institution h3,
.institution h5{
    margin: 10px;
}
.institution{
    
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}