/* ----google font link ----*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Poppins:wght@100&display=swap');

*{
    
    padding: 0;
    margin: 0;
    background-color: gray;
    box-sizing: border-box;
    color: white;
}
body{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px  40px;
    background-color: blueviolet;
    font-family: 'Noto Sans Mono', monospace;
   
}

a{
    text-decoration: none;
    margin-left: 10px;
}
.navBar a:hover,
.navBar a.Active{
    color: goldenrod;
    
}

#box-icon{
    display: none;
    cursor: pointer;
}

.Home{
    margin-top: 40px;
    display: flex;
    padding: 10px  40px;
    overflow: hidden;
}
#homeImg{
    height: 300px;
    width: 280px;
    overflow: hidden;
    background-color: rgb(63, 122, 231);

}
.hi{
    display: flex;
    align-items: center;
}